$('#editable-modal-area').html("#{escape_javascript (render partial: 'panel/v1/municipes/shared/form', locals: {model: @item, url: panel_v1_municipes_path, method: :post}) }");
$("#modal").modal('toggle');
